<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>

  <script src="https://vuejs.org/js/vue.js"></script>
  <script language="javascript" type="text/javascript" src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/x-template" id="file-box-template">
		 <div class="divFileBox">
			 <div class="divBox1">
			 	<label class="lblDate">{{date}}</label>
			 	<!--
			 	<label class="lblCategoryTitle">{{categorytitle}}</label>
			 	<label class="lblQuestionDollarValue">${{dollarvalue}}<br></label>
			 	<label class="lblQuestionAirDate">Aired {{airdate}}</label>
			 	-->
			 </div>

			 <div  class="divBox2">
			 	<label class="lblTitle" v-on:mouseover="showComments = true" v-on:mouseleave="showComments = false" v-on:click="title_click">{{title}}</label>
			 	<!-- <label class="lblQuestionText" v-on:mouseover="showAnswer = true" v-on:mouseleave="showAnswer = false">{{text}}</label> -->
			 	<transition name="fade">
	    			<div v-show="!showSharedFiles"><div align="top-left" class=divCommentsBox v-show="showComments">{{comments}}</div></div>
				</transition>
			 </div>

			<button id = "icon" class="btnDelete" style="position: absolute; left: 375px;" v-on:click="btnDelete_click" v-show="!showSharedFiles">{{computeShow}}<i class="fa fa-trash w3-xxlarge"></i></button>
			<button id = "icon" class="btnShare" v-on:click="btnShare_click" v-show="!showSharedFiles">{{computeShow}}<i class="fa fa-share-square-o w3-xxlarge"></i></button>

			<button style="position: absolute; left: 350px; background-color: green" v-show="showSharedFiles">{{computeShow}}Accept</button>
			<button style="position: absolute; left: 425px; background-color: red" v-show="showSharedFiles">{{computeShow}}Deny</button>

			<transition name="fade">
	    		<div class="divConfirm" v-show="showAccessKey">
	    			<input type="text" placeholder="Your Access Key" class="lblConfirmMsg" v-model="key">
	    			<button class="btnYes" v-on:click="btnOK_click">OK </button>
	    			<button class="btnNo" v-on:click="btnNo_click">Cancel</button>
	    		</div>
    		</transition>

    		<transition name="fade">
	    		<div class="divConfirm" v-show="showConfirm">
	    			<label class="lblConfirmMsg">Are you sure you want to delete this file?</label>
	    			<button class="btnYes" v-on:click="btnYes_click">Yes</button>
	    			<button class="btnNo" v-on:click="btnNo_click">No</button>
	    		</div>
    		</transition>

    		<transition name="fade">
	    		<div class="divConfirm" v-show="showShare">
	    			<input type="text" placeholder="Share with" class="lblConfirmMsg" v-model="email">
	    			<button class="btnYes" v-on:click="btnShareConfirm_click">Share</button>
	    			<button class="btnNo" v-on:click="btnNo_click">Cancel</button>
	    		</div>
    		</transition>

		</div>

  </script>

  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1404.47">
  <style type="text/css">
  </style>
</head>

<body onload="body_onload()">

	<div id="main">
		<div class="w3-display-container w3-blue-gray" style="height:40px; opacity: 0.7">
    		<div class="w3-display" style="position: absolute; left: 10px; font-size: 25px;">Encrypted-X2</div>
    		<div class="w3-display" style="float: right; padding-top: 5px; padding-right: 5px;">
    			<button class="w3-display" style="float: right; width: 70px; height: 30px; background-color: #008cba; color: white;" v-on:click="btnLogout_click">Logout</button>
    		</div>
    		<div class="w3-display" style="float: right; padding-top: 5px; padding-right: 5px;">
    			<button class="w3-display" style="float: right; width: 70px; height: 30px; background-color: #008cba; color: white;" v-on:click="btnUpload1_click">Upload</button>
    		</div>
    	</div>

		<transition name="fade">
				 {{listFiles}}
				 <div id="divSearch">
				 	<input type="text" placeholder=" Search" id="txtSearch" v-model="search"/>
				 	<button class="btnMyFiles" v-on:click="btnMyFiles_click">My Files</button>
				 	<button class="btnShareRequests" v-on:click="btnShareReqs_click">Share Requests</button>
			 	</div>

	 	</transition>

 		<transition name="fade">
			 <div class="divUpload" v-show="showUpload">
			 	<label id="lblUpload">Upload File</label>
			 	<label id="lblViewTime">View Time:</label>
			 	<label id="lblComments">Comments:</label>
			 	<label id="lblDelete">Auto Delete Time:</label>

			 	<select id="txtViewTime" v-model="selected1">
			 		<option selected="true" disabled="disabled">select</option>
			 		<option>5 minutes</option>
			 		<option>30 minutes</option>
			 		<option> 1 hour</option>
			 	</select> 

			 	<select id="txtDeleteTime" v-model="selected2">
			 		<option selected="true" disabled="disabled">select</option>
			 		<option>1 week</option>
			 		<option>1 month</option>
			 		<option>1 year</option>
			 	</select>  
			 	
			 	<textarea type="text" id="txtComments" v-model="comments"></textarea>
			 	<button class="btnSave" v-on:click="btnSave_click">Save</button>
			 	<button class="btnCancel" v-on:click="btnCancel_click">Cancel</button>
			 	<input type="file" class="btnUpload2"  v-on:change="btnUpload2_click($event)" id="temp">
			 	<label id="lblTitle2">Title: </label>
			 	<input type="text" id="txtTitle2" v-model="fileTitle"/>
			 </div>
		</transition>

		<transition name="fade">
	    	<div class="divText" v-show="showText">
    			<textarea type="text" id="txtContents" v-model="text" readonly></textarea>
    			<button class="btnCancel2" v-on:click="btnCancel_click">Close</button>
    		</div>
    	</transition>


		<file-box v-for="file in files"
					  v-bind:link="file.link" 					  
 					  v-bind:date="file.date"
 					  v-bind:title="file.title"
 					  v-bind:comments="file.comments"
 					  v-bind:email="file.email"
 					  v-bind:key="file.key">
 		</file-box>
	</div>

</body>

</html>
